name: Test Pipeline
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  push: # Run on all pushes
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.12"
          enable-cache: true
            
      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests
