name: Test Pipeline
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  push: # Run on all pushes
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Run tests
        run: uv run pytest tests
